body{
  background: #c1d72e;
  overflow:auto;
}
header{
  position:fixed;
  width:100%;
  text-align: center;
  padding: 20px;
  border: solid 2px #fff;
  color: #fff;
  background: #c1d72e;
  font-size:40px;
}

#cabecalho{
    display:none;
}

.cabecalho{
  text-decoration: none;
  margin-left: 150px;
  color: #fff;
}

#btn-iniciar-jogo{
  position:relative;
  left:585px;
  margin-top:50px;
  background: #c1d72e;
  color: #fff;
  border: solid 1px #fff;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  border-radius:5px;
}

#btn-iniciar-jogo:hover{
    background:white;
    border: solid 1px white;
    color:#c1d72e;
}

div{
  text-align: center;
}

#div-chute{
    display: none;
    margin: 0 auto;
    width: 400px;
}

#palavra-chute{
    text-align: center;
    font-size: 14px;
    width:350px;
}

.styled-select select {
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
   width: 268px;
  margin-bottom:30px;
}

.btn{
  text-align:center;
}

.resetar{
    position:absolute;
    top:150px;
    right:50px;
}

.titulo{
  margin-top:120px;
  text-align: center;
  color: #fff;
  margin-bottom:30px;
}

.subtitulo{
  color: #fff;
  text-align: center;
  font-size: 20px;
}

#btn-reset{
  margin-top:50px;
    background: #c1d72e;
    color: #fff;
    border: solid 1px #fff;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
  border-radius:5px;
}

#btn-reset:hover{
    background:white;
    border: solid 1px white;
    color:#c1d72e;
}

.alfabeto{
  text-align: center;
  margin-top: 50px;
  margin-bottom:50px;
}

.login{
  font-size: 20px;
}

.alfabeto span{
  margin-top:50px;
  margin-bottom:50px;
  padding:10px;
  color: #fff;
  margin:20px;
  border: solid 1px white;
  cursor: pointer;
}

.alfabeto span:hover{
    background:white;
    border: solid 1px white;
    color:#c1d72e;
}

#palavra{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
  text-align:center;
  color: #fff;
  letter-spacing: 30px;
}

.informacoes{
  text-align:center;
  color:#fff;
  font-size:20px;
  margin: 0 auto;
}

.informacoes2{
  color:#fff;
  font-size:10px;
}

a:link 
{ 
  text-decoration:none; 
  color:#fff;
}

a:visited{
  text-decoration:none; 
  color:#fff;
} 

.inf{
  padding-left:100px; 
}

.timer{
  position:absolute;
  top:120px;
  right:50px;
}

.usuario{
  position:absolute;
  top:120px;
  left:0px;
  font-size:medium;
}

#btn-voltar{
  margin-top:150px;
    background: #c1d72e;
    color: #fff;
    border: solid 1px #fff;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
  border-radius:5px;
}

#btn-voltar:hover{
    background:white;
    border: solid 1px white;
    color:#c1d72e;
}

table {
  position: relative;
  left: 420px;
  width: 500px;
  margin-bottom: 50px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

.wrapper{
  display:inline; 
  margin:5px auto;
}


.btn-saga {
  position: absolute;
  border: 0;
  font:300 14px 'Open Sans';
  color: #FFFFFF;
  padding: 10px;
  border-radius:5px;
  margin-left: 30px;
  cursor: pointer;
  background: -webkit-linear-gradient(left, rgba(85, 237, 79, 1) 40px, rgba(85, 237, 79, 1) 0);
}

#btn-pagina-anterior{
  left: 350px;
}

#btn-pagina-seguinte{
  right: 415px;
}




/*
    radio buttom
*/

.switch-field {
  margin-left:550px;
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 30px;
  overflow: hidden;
}

.switch-title {
  color:white;
  font-size:20px;
  margin-left:-550px;
  margin-bottom: 6px;
}

.switch-field input {
  display: none;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 100px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.hangman-todo{
 position: absolute;
 left: 20%;
 top: 175px;
}

.hangman{
 position:absolute;
 border: white solid;
 border-right: transparent;
 border-bottom: transparent;
 height: 150px;
 width: 100px;
}
.hangman::before{
 content: "";
 position:absolute;
 border-bottom: white solid;
 height:0;
 width: 150px;
 top:100%;
 right: 26px;
}
.hangman::after{
 content: "";
 position:absolute;
 border-right: white solid;
 height:10px;
 width: 0;
 left: 96.5%;
}
.corpo{
 position:absolute;
 height: 125px;
 width: 65px;
 left: 68px;
 top: 10px;
}

.boneco-cabeca{
 display: none;
 position:absolute;
 height: 25%;
 width: 50%;
 border-radius: 50%;
 left: 13px;
 border: white solid;
}

.boneco-corpo{
 display: none;
 position:absolute;
 top: 30px;
 height: 40%;
 width: 0;
 left: 28px;
 border-right: white solid;
}

.boneco-braco-direito{
 display: none;
 position:absolute;
 top: 32px;
 height: 30%;
 width: 0;
 left: 38px;
 border-right: white solid;
     -ms-transform: rotate(-30deg);
   -webkit-transform: rotate(-30deg);
   transform: rotate(-30deg);
}

.boneco-braco-esquerdo{
 display: none;
 position:absolute;
 top: 32px;
 height: 30%;
 width: 0;
 left: 18px;
 border-right: white solid;
     -ms-transform: rotate(30deg);
   -webkit-transform: rotate(30deg);
   transform: rotate(30deg);
}

.boneco-perna-direito{
 display: none;
 position:absolute;
 top: 78px;
 height: 30%;
 width: 0;
 left: 35px;
 border-right: white solid;
     -ms-transform: rotate(-20deg);
   -webkit-transform: rotate(-20deg);
   transform: rotate(-20deg);
}

.boneco-perna-esquerdo{
 display: none;
 position:absolute;
 top: 78px;
 height: 30%;
 width: 0;
 left: 21px;
 border-right: white solid;
     -ms-transform: rotate(20deg);
   -webkit-transform: rotate(20deg);
   transform: rotate(20deg);
}