body{
  background: #c1d72e;
  overflow:auto;
}
header{
  position:fixed;
  width:100%;
  text-align: center;
  padding: 20px;
  border: solid 2px #fff;
  color: #fff;
  background: #c1d72e;
  font-size:40px;
}

#cabecalho{
    display:none;
}

.cabecalho{
  text-decoration: none;
  margin-left: 150px;
  color: #fff;
}

#btn-iniciar-jogo{
  position:relative;
  left:585px;
  margin-top:50px;
  background: #c1d72e;
  color: #fff;
  border: solid 1px #fff;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  border-radius:5px;
}

#btn-iniciar-jogo:hover{
    background:white;
    border: solid 1px white;
    color:#c1d72e;
}

div{
  text-align: center;
}

#div-chute{
    visibility:hidden;
    margin-left:300px;
    width:500px;
}

.styled-select select {
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
   width: 268px;
  margin-bottom:30px;
}

.btn{
  text-align:center;
}

.titulo{
  margin-top:150px;
  text-align: center;
  color: #fff;
  margin-bottom:30px;
}

.subtitulo{
  color: #fff;
  text-align: center;
  font-size: 20px;
}

#btn-reset{
  margin-top:50px;
    background: #c1d72e;
    color: #fff;
    border: solid 1px #fff;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
  border-radius:5px;
}

#btn-reset:hover{
    background:white;
    border: solid 1px white;
    color:#c1d72e;
}

.alfabeto{
  text-align: center;
  margin-top: 50px;
  margin-bottom:50px;
}

.login{
  font-size: 20px;
}

.alfabeto span{
  margin-top:50px;
  margin-bottom:50px;
  padding:10px;
  color: #fff;
  margin:20px;
  border: solid 1px white;
  cursor: pointer;
}

.alfabeto span:hover{
    background:white;
    border: solid 1px white;
    color:#c1d72e;
}

#palavra{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
  text-align:center;
  color: #fff;
}

.informacoes{
  text-align:center;
  color:#fff;
  font-size:20px;
}

a:link 
{ 
  text-decoration:none; 
  color:#fff;
}

a:visited{
  text-decoration:none; 
  color:#fff;
} 

.inf{
  padding-left:100px; 
}

.timer{
  position:absolute;
  top:120px;
  right:50px;
}

.usuario{
  position:absolute;
  top:120px;
  left:0px;
  font-size:medium;
}

#btn-voltar{
  margin-top:150px;
    background: #c1d72e;
    color: #fff;
    border: solid 1px #fff;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
  border-radius:5px;
}

#btn-voltar:hover{
    background:white;
    border: solid 1px white;
    color:#c1d72e;
}

table {
  position: relative;
  left: 420px;
  width: 500px;
  margin-bottom: 50px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

.wrapper{
  display:inline; 
  margin:5px auto;
}


.btn-saga {
  position: absolute;
  border: 0;
  font:300 14px 'Open Sans';
  color: #FFFFFF;
  padding: 10px;
  border-radius:5px;
  margin-left: 30px;
  cursor: pointer;
  background: -webkit-linear-gradient(left, rgba(85, 237, 79, 1) 40px, rgba(85, 237, 79, 1) 0);
}

#btn-proxima-pagina{
  left: 350px;
}

#btn-pagina-anterior{
  right: 415px;
}