
<h1 class="titulo">Top 10 jogadores</h1>

<div class="table">
<table>
<thead><tr><th>Jogador</th><th>Score</th><th>Dificuldade</th></tr></thead>
       {{#each pontuacao}}
        <tr><td>{{Jogador}}</td><td>{{Score}}</td><td>{{Dificuldade}}</td></tr>
       {{/each}}
</table>
</div>

<div class="wrapper">
    <button class="btn-saga" id="btn-pagina-anterior">
        <span>Página Anterior</span>
    </button>
</div>

<div class="wrapper">
    <button class="btn-saga" id="btn-pagina-seguinte">
        <span>Página Seguinte</span>
    </button>
</div>