
    <h1 class="titulo">Jogo da forca</h1>
    <h1 class="titulo timer"> <span id="timer">00:00</span> </h1>

    <p class="subtitulo timer">Dificuldade : <span id="dificuldade">{{dados.dificuldade}}</span></p>

    <div id="palavra">
        _ _ _ _ _ _ _ _ _ _ - _ _ _ _ _
    </div>

    <div id="div-chute">
        <span class="informacoes">Chute: </span>
        <input type="text" id="palavra-chute" placeholder="Digite seu chute aqui..." />
    </div>

    <div class="informacoes">
        <span>Tentativas Restantes: <span id="tentativas-restantes">0</span></span>
        <span class="inf">
            <a href="#" id="btn-chute">Chutar</a>
        </span>
    </div>


    <div class="alfabeto">

        <span class="letra">A</span><span class="letra">B</span><span class="letra">C</span>
        <span class="letra">D</span><span class="letra">E</span><span class="letra">F</span>
        <span class="letra">G</span><span class="letra">H</span><span class="letra">I</span>
        <span class="letra">J</span><span class="letra">L</span><span class="letra">K</span>
        <span class="letra">M</span><span class="letra">N</span><span class="letra">O</span>
        <br><br><br><br>
        <span class="letra">P</span><span class="letra">Q</span><span class="letra">R</span>
        <span class="letra">S</span><span class="letra">T</span><span class="letra">U</span>
        <span class="letra">V</span><span class="letra">W</span><span class="letra">X</span>
        <span class="letra">Y</span><span class="letra">Z</span>

    </div>

    <div class="row">
        <button id="btn-reset">Resetar Jogo</button>
    </div>