<header>
  <span><a href="#" class="cabecalho" id="btn-home">Home</a></span>
  <span><a href="#" class="cabecalho" id="btn-leaderboard">Leaderboard</a></span>
  <span><a href="#" class="cabecalho" id="btn-logout">Logout</a></span>
</header>
        <h1 class="titulo">Top 10 jogadores</h1>

<div class="table">
<table>
<thead><tr><th>posicão</th><th>Jogador</th><th>Score</th></tr></thead>
       <tr><td><span id="posicao">1</span></td><td><span id="jogador">Rodrigo</span></td><td><span id="pontuacao">1250</span></td></tr>
       <tr><td><span id="posicao">2</span></td><td><span id="jogador">Regis</span></td><td><span id="pontuacao">1100</span></td></tr>
       <tr><td><span id="posicao">3</span></td><td><span id="ogador">Rafael</span></td><td><span id="pontuacao">980</span></td></tr>
       <tr><td><span id="posicao">4</span></td><td><span id="jogador">Otavio</span></td><td><span id="pontuacao">970</span></td></tr>
</table>
</div>
        
<div class="btn">    
<button  id="btn-voltar">Voltar</button> 
</div>